/* reset */
*
  box-sizing: border-box;

  *:before,
  *:after
    box-sizing: border-box

html
  font-size: $root-font-size;
  height: 100%;

body
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'sans-serif';
  font-size: $base-font-size;
  color: $black;
  line-height: 1em;
  background: $white;
  text-size-adjust: 100%;
  letter-spacing: 0.05rem;
  -webkit-font-smoothing: antialiased;
  margin: 0;

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
blockquote,
dt,
dd,
a,
figure
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: normal;
  font-style: normal

ul,
ol,
dl,
li,
dt,
dd
  padding: 0;
  margin: 0;
  list-style: none;

a
  color: inherit;
  text-decoration: none;

img
  max-width: 100%;
  vertical-align: middle;

/* reset default style for form */
input,
button,
textarea,
select
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'sans-serif';
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;

input[type="radio"]
  display: none;
  border: 0;
  margin: 0;

input[type="checkbox"]
  margin: 0;
  display: none;

/* IE */
input::-ms-expand,
select::-ms-expand
  display: none;

[role="button"]
  cursor: pointer;

/* drag setting */
::selection
  background: $primary-color;
  color: $white;

/* for Firefox */
::-moz-selection
  background: $primary-color;
  color: $white;

/* iconfont setting */
i
  -webkit-font-smoothing: antialiased;

  &:before
    vertical-align: text-top;
