/* color */
$primary-color = #0974e8;
$secondary-color = #ffca3a;
$white = #fff;
$black = #252729;
$gray = #8c9197;
$green = #3ab795;
$red = #ff595e;
$orange = #ec4e20;


/* font size */
$root-font-size = 62.5%;
$base-font-size = 1rem;

/* break point */
$landscape = "(min-width: 736px)";
$not-landscape = "(max-width: 735px)";
$tablet = "(min-width: 768px)";
$not-tablet = "(max-width: 767px)";
$desktop = "(min-width: 960px)";
$not-desktop = "(max-width: 959px)";

/* webfont */
@import url("https://use.typekit.net/zfc8flw.css");
$din = urw-din, sans-serif;
$medium = 500;
$regular = 400;
