.content-section-careers
  > .inner
    width: 100%;
    position: relative;
    padding: 0 24px;
    margin-bottom: 120px;

    @media $desktop
      padding: 0 180px 0 60px;
      margin-bottom: 240px;

  > .inner > .title
    text-align: right;
    margin-bottom: 48px;

    @media $desktop
      width: 95px;
      position: absolute;
      top: 0;
      right: 60px;

  > .inner > .title > .mobile
    height: 40px;

    @media $desktop
      display: none;

  > .inner > .title > .desktop
    display: none;

    @media $desktop
      display: block;
