.event-section
  > .title
    font-feature-settings: "palt";
    letter-spacing: 0.1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;

    @media $desktop
      font-size: 3.2rem;
      margin-top: 80px;
      margin-bottom: 48px;

  > .btn
    margin: 32px auto 0;

  > .note
    font-size: 1.4rem;
    line-height: 1.7;

    @media $desktop
      line-height: 1;
      text-align: center;

  .note > .link
    color: $primary-color;
    hover-element();
