.footer-navigation
  color: darken($gray, 25);
  text-align: left;

  > .item
    font-size: 1.4rem;
    border-top: 1px solid lighten($gray, 30);

    @media $desktop
      border-top: none;
      margin-bottom: 24px;

    &:last-child
      @media $desktop
        margin-bottom: 0;

    &.-desktop
      display: none;

      @media $desktop
        display: block;;

  > .item > .link
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 24px;

    @media $desktop
      display: inline;
      border-radius: 3px;
      padding: 6px;
      transition: background-color 300ms;
      backface-visibility: hidden;

      &:hover
        background-color: lighten($gray, 35)

  > .item > .link > i
    font-size: 1.2rem;

    @media $desktop
      font-size: 1rem;
      margin-left: 4px;

  > .item > .logo
    width: 62px;
    display: block;
    margin: 16px auto;

    @media $desktop
      width: 80px;
      margin-left: 6px;
