.hero-section-about
  color: $white;
  width: 100%;
  padding: 104px 24px;
  background-image: url(../assets/img/bg_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media $desktop
    height: 100vh;
    min-height: 550px;
    display: flex;
    align-items: center;

  > .inner
    @media $desktop
      width: 960px;
      margin: 0 auto;
