.hero-section
  width: 100%;
  padding: 40px 24px 0;
  margin: 48px auto 0;

  @media $desktop
    max-width: 1040px;
    padding: 64px 0 0;
    margin: 64px auto 0;

  > .inner
    @media $desktop
      display: flex;
      align-items: center;
      justify-content: space-between;

  > .inner > .video-box
      margin: 40px 0 24px;

      @media $desktop
        flex: 0 1 640px;
        margin: 0;

  > .btn
    margin-top: 24px;

    @media $desktop
      display: none;

  > .companies
    margin-top: 32px;

    &.-desktop
      display: none;

    @media $desktop
      width: 720px;
      margin: 72px auto 0;

      &.-mobile
        display: none;

      &.-desktop
        display: block;
