.logo-list
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 24px -4px 64px;

  @media $desktop
    margin: 40px 0 80px;

  > .item
    margin: 0 4px;
    flex: 0 0 30%;

    @media $desktop
      margin: 0 16px;
      flex: 0 0 160px;
