.media-article-list
    display: block
    h2
        font-size: 2.4rem
        font-weight: bold
        margin: 3.2rem 0 1.2rem
        line-height: 1.5
        @media $desktop
            margin: 4rem 0 2.4rem
    
