.member-list
  margin-top: -24px;

  @media $desktop
    display: flex;
    flex-wrap: wrap;
    max-width: 1164px;
    border-top: 1px solid lighten($gray, 30);

  > .item
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid lighten($gray, 30);
    padding: 24px 0;

    &:last-of-type
      border-bottom: none;
      padding-bottom: 0;

    @media $desktop
      flex: 0 1 50%;

      &:nth-of-type(2n+1)
        border-right: 1px solid lighten($gray, 30);
        padding: 40px 40px 40px 0;

      &:nth-of-type(2n)
        padding: 40px 0 40px 40px;

      &:last-of-type
        border-bottom: 1px solid lighten($gray, 30);

      &:hover > .img
        filter: grayscale(0);

  > .item > .img
    width: 80px;
    margin-right: 16px;

    @media $desktop
      width: 160px;
      min-width: 160px;
      margin-right: 16px;
      filter: grayscale(100%);
      transition: all 0.3s ease;

  > .item > .description > .name
    font-feature-settings: "palt";
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 12px;

    @media $desktop
      font-size: 2rem;

  > .item > .description .bold
    font-weight: bold;

  > .item > .description .strikethrough
    text-decoration: line-through;

  > .item > .description > .name > .en
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

  > .item > .description > .position
    font-feature-settings: "palt";
    font-size: 1.2rem;
    margin-bottom: 12px;
    line-height: 1.5;

  > .item > .description > .position > .en
    font-family: 'Open Sans', sans-serif;

  > .item > .description > .introduction > *
    font-size: 1.4rem;
    line-height: 1.7;
    margin-bottom: 16px;

    &:last-of-type
      margin-bottom: 0;
