.value-list

  > .item
    margin-bottom: 48px;

    @media $desktop
      margin-bottom: 120px;

  > .item .title
    font-feature-settings: "palt";
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 16px;

    @media $desktop
      font-size: 4.8rem;
      margin-bottom: 32px;

  > .item .description
    font-size: 1.4rem;
    line-height: 1.7;

    @media $desktop
      font-size: 2rem;
